// Variables
$yellow: #ffda00
$darkBlue: #2C3039

html, body
    width: 100%
    height: 100%
    min-height: 100%
    min-width: 100%
    font-family: 'Jost', sans-serif
    overflow-x: hidden

    ul
        list-style-type: none

    a
        text-decoration: none
        color: inherit
        transition: all .3s ease
        display: block

        &:hover
            color: $yellow

    .cta-button
        color: #2c3039
        font-size: 16px
        font-family: 'Jost',Arial,sans-serif
        line-height: 1.55
        font-weight: 500
        border-width: 2px
        border-radius: 0px
        min-width: 100px
        max-width: 250px
        display: flex
        justify-content: center
        align-items: center
        white-space: nowrap
        padding: 13px 35px
        background-color: #ffda00
        background-position: center center
        border-color: #2c3039
        border-style: solid
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out
        &:hover
            color: #000
            background: #fff

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button
        -webkit-appearance: none
        margin: 0

    input[type=number]
        -moz-appearance: textfield

    .tire
        position: absolute
        top: -35px
        left: 0

.header
    width: 100%
    height: 100vh
    background-image: linear-gradient(rgb(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9)), url("../img/header/header_bg.png")
    background-position: center
    background-size: cover
    position: relative

    .nav
        background: #fff
        width: 100%
        margin: 0
        padding: 0
        &__main-ul
            margin: 0
            padding: 10px 11vw
            width: 100%
            display: flex
            justify-content: space-between
            align-items: center

        &__logo
            img
                height: 60px

        &__links
            width: 50%
            ul
                width: 100%
                display: flex
                align-items: center
                justify-content: space-evenly

        &__telephone
            &__container
                display: flex
                justify-content: center
                align-items: center
            img
                height: 30px
                margin: 0
                padding: 0

            a
                white-space: nowrap
                font-weight: bold
                font-size: 20px
                padding: 0
                margin: 0 0 0 15px

    &__content
        padding: 100px 11vw
        position: relative
        z-index: 100

        h2
            width: 646px
            color: #2c3039
            font-size: 60px
            line-height: 57px
            font-weight: bold

        h3
            margin: 25px 0
            color: #5e5e5e

        .cta-button
            margin: 0 0 25px 0

        ul.header__ul
            margin: 0
            padding: 0
            li
                font-size: 20px
                font-weight: 500
                display: flex
                align-items: center
                &::before
                    content: ""
                    display: inline-block
                    margin-right: 10px
                    width: 20px
                    height: 20px
                    background-image: url("../icons/li.svg")
                    background-size: contain
                    background-position: center
                    background-repeat: no-repeat

    .header__truck-img
        position: absolute
        bottom: 100px
        right: 12vw
        width: 55vw

.info
    background: $darkBlue
    color: #fff
    padding: 11vh 11vw
    position: relative

    h2
        font-weight: bold
        font-size: 60px

    h3
        font-size: 18px
        font-weight: 300

    &__first-ul
        margin: 100px 0 0 0
        padding: 0
        display: flex
        align-items: center
        justify-content: center
        flex-wrap: wrap
        width: 100%
        li
            width: 45%
            display: flex
            align-items: center
            margin: 0 25px 25px 0
            min-height: 110px
            padding: 15px
            background: #595959
            border-radius: 15px
            .li__icon
                margin: 0 15px 0 0
                img
                    height: 40px

            h4
                font-size: 18px

            h5
                font-size: 14px

            &:last-child
                margin: 0px auto

.numbers
    background: $darkBlue
    display: flex
    justify-content: space-evenly
    align-items: center
    color: #f1f1f1
    padding: 20px 0 50px

    &__item
        margin: 0 15px
        display: flex
        flex-direction: column
        align-items: center
        h2
            font-size: 55px
            color: $yellow
            margin: 0 0 15px 0
            font-weight: bold

        .hr
            width: 140%
            height: 1px
            background: #fff
            display: block

        h3
            font-size: 20px
            margin: 15px 0 0 0
            font-weight: 300

.details
    background: $darkBlue
    padding: 10vh 11vw
    &__header
        border-left: 3px solid #fff
        padding: 5px 20px
        color: #f1f1f1

        h2
            font-weight: bold
            font-size: 40px

        h3
            font-size: 15px
            font-weight: 400

    &__container
        margin: 30px 0 0 0
        color: #fff
        display: flex

    &__item
        width: 25%
        border: 1px solid #ccc
        display: flex
        flex-direction: column
        justify-content: start
        padding: 15px
        min-height: 500px
        &:not(:last-child)
            margin: 0 15px 0 0

    &__image
        width: 100%
        img
            width: 100%
            object-fit: contain

    h4
        font-size: 23px
        margin: 10px 0

    h5
        font-size: 15px
        font-weight: 300
        line-height: 22px

.catalog
    color: $darkBlue
    padding: 10vh 11vw

    h2
        font-size: 65px
        font-weight: bold
        margin: 0
        padding: 0

    h3
        font-weight: 400
        font-size: 17px
        line-height: 26px
        margin: 15px 0 0 0
        padding: 0

    &__container
        margin: 30px 0 0 0
        display: flex
        flex-wrap: wrap

    &__item
        width: 100%
        min-height: 300px
        background: $darkBlue
        margin: 15px
        display: flex
        align-items: center
        justify-content: space-between
        padding: 0 30px
        color: #fff
        .item
            &__info
                width: 60%

            &__name
                font-weight: bold
                font-size: 28px

            &__text
                margin: 20px 0
                color: #ccc

            &__image
                width: 40%
                display: flex
                justify-content: center
                align-items: center

                img
                    width: 70%

.price
    display: flex
    flex-direction: column
    justify-content: center
    padding: 100px 0

    &__block
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        h2
            font-size: 50px
            font-weight: bold
            &:not(:first-child)
                margin: 80px 0 0 0

        h3
            font-size: 16px
            font-weight: 400
            color: #5f5f5f

    &__item
        background: $darkBlue
        min-height: 340px
        width: 900px
        color: #fff
        display: flex
        flex-direction: column
        align-items: center
        padding: 30px 40px
        margin: 30px 0 0 0

        &__name
            color: $yellow
            font-weight: 500
            font-size: 30px

        &__row
            border-bottom: 4px solid $yellow
            display: flex
            justify-content: space-between
            align-items: center
            width: 100%
            margin: 10px 0 0 0

            & *
                font-size: 25px
                font-weight: bold

.cost-delivery
    padding: 10vh 11vw
    h2
        font-size: 50px
        font-weight: bold

    h3
        font-size: 16px
        font-weight: 400
        color: #5f5f5f

    &__container
        display: flex
        align-items: flex-end
        justify-content: space-between
        padding: 30px 0 0 0
        .truck-image
            width: 50%
            img
                width: 100%
                max-width: 100%

        form
            background-color: #6a6e7e
            background-position: center center
            border-color: transparent
            border-style: solid
            width: 37%
            min-height: 500px
            padding: 20px 30px

            select, input
                width: 100%
                color: rgb(44, 48, 57)
                border: 1px solid rgb(44, 48, 57)
                background-color: rgb(255, 255, 255)
                font-size: 16px
                font-weight: 500
                height: 50px
                padding: 0 15px
                margin: 0 0 20px 0
                appearance: none

            select
                appearance: none
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e")
                background-repeat: no-repeat
                background-position: right 1rem center
                background-size: 1em

    button
        width: 100%
        background: $yellow
        border: none
        padding: 10px 0

.opinions
    padding: 10vh 11vw
    h2
        font-size: 50px
        font-weight: bold

    h3
        font-size: 16px
        font-weight: 400
        color: #5f5f5f
        max-width: 80%

    &__container
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        padding: 50px 0
        .opinion
            width: 40%
            display: flex
            margin: 20px

            &__image
                margin: 0 25px 0 0
                img
                    width: 250px
                    box-shadow: 4px 7px 15px 3px rgba(34, 60, 80, 0.21)

            &__info
                display: flex
                flex-direction: column
                justify-content: center

            &__type
                font-weight: bold
                font-size: 15px

            &__source
                background: $yellow
                text-align: center
                font-weight: bold
                padding: 10px 15px
                white-space: nowrap
                margin: 15px 0

            &__text
                font-weight: 500
                font-size: 16px
                color: #5f5f5f
                max-width: 250px

.clients
    padding: 4vh 11vw 10vh

    h2
        font-weight: bold
        font-size: 60px

    &__container
        display: flex
        align-items: center
        justify-content: center
        padding: 30px 0 0
        .client
            max-width: 25%
            display: flex
            justify-content: center
            align-items: center
            &:not(:last-child)
                border-right: 3px solid #ececec
            img
                width: 77.7777%

.consultation
    background: $yellow
    padding: 0 11vw 0
    display: flex
    justify-content: start
    align-items: center
    position: relative
    height: 500px

    .telephone
        position: relative
        img
            height: 600px
            border-radius: 30px
            transform: rotate(-10deg)
    &__info
        align-self: start
        padding: 40px 0
        width: 100%
        h2
            font-size: 55px
            line-height: 57px
            font-weight: bold
            color: #323232

        h3
            font-size: 15px
            font-weight: 500

        form
            background: #fff
            padding: 50px
            width: 100%
            border-radius: 10px
            margin: 25px 0
            h4
                font-size: 15px
                font-weight: 500

            .form__wrapper
                display: flex
                align-items: center
                padding: 10px 0 0 0
                input
                    color: rgb(44, 48, 57)
                    border: 1px solid rgb(44, 48, 57)
                    background-color: rgb(255, 255, 255)
                    font-size: 16px
                    font-weight: 500
                    height: 50px
                    padding: 0 15px
                    min-width: 250px
                    appearance: none

                button
                    background: $yellow
                    border: none
                    height: 50px
                    margin: 0 0 0 15px
                    min-width: 200px
                    border: 2px solid #000

.workers
    padding: 15vh 11vw

    h2
        font-size: 55px
        font-weight: bold

    .workers__container
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        .worker
            width: 45%
            margin: 20px
            box-shadow: 4px 4px 10px 3px rgba(34, 60, 80, 0.11 )
            display: flex
            align-items: center
            padding: 40px

            &__image
                display: flex
                justify-content: center
                align-items: center
                margin: 0 15px 0 0
                img
                    border-radius: 50%
                    width: 70px

            &__info
                display: flex
                flex-direction: column
                justify-content: center

            &__name
                font-weight: bold

            &__status
                font-weight: 500
                font-size: 13px

.offer
    padding: 10vh 11vw
    display: flex
    flex-direction: column
    align-items: center

    h2
        font-size: 55px
        font-weight: bold
        text-align: center

    h3
        text-align: center
        font-size: 16px

    form
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 30px 50px
        box-shadow: 2px 6px 10px 6px rgba(34, 60, 80, 0.21)
        border-radius: 7px
        margin: 20px 0 0 0
        min-width: 700px

        input
            border: none
            outline: none
            border-bottom: 1px solid #000
            background: inherit
            width: 90%
            margin: 20px 0

        button
            border: none
            color: $darkBlue
            background: $yellow
            width: 90%
            padding: 10px 0
            margin-top: 15px

.footer
    position: relative
    background: $darkBlue
    padding: 100px 11vw
    min-height: 300px
    color: #fff
    display: flex
    flex-direction: column
    justify-content: center

    h2
        font-size: 55px
        font-weight: bold
        text-align: left

    h3
        font-size: 18px
        text-align: justify
        font-weight: 400

    &__container
        display: flex
        flex-wrap: wrap
        align-items: center

    &__info
        width: 50%
        ul
            display: flex
            flex-direction: column
            padding: 30px 0 0 0
            li
                display: flex
                align-items: center
                margin: 0 0 20px 0
                img
                    width: 55px
                    border: 2px solid $yellow
                    padding: 15px
                    display: flex
                    justify-content: center
                    align-items: center
                    margin: 0 15px 0 0

                h4
                    font-size: 16px
                    font-weight: 500
                    margin: 0

    &__map
        width: 45%
        min-width: 500px
        height: 100%
        min-height: 300px
