html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  font-family: "Jost", sans-serif;
  overflow-x: hidden;
}
html ul, body ul {
  list-style-type: none;
}
html a, body a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
  display: block;
}
html a:hover, body a:hover {
  color: #ffda00;
}
html .cta-button, body .cta-button {
  color: #2c3039;
  font-size: 16px;
  font-family: "Jost", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 500;
  border-width: 2px;
  border-radius: 0px;
  min-width: 100px;
  max-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 13px 35px;
  background-color: #ffda00;
  background-position: center center;
  border-color: #2c3039;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
html .cta-button:hover, body .cta-button:hover {
  color: #000;
  background: #fff;
}
html input::-webkit-outer-spin-button,
html input::-webkit-inner-spin-button, body input::-webkit-outer-spin-button,
body input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
html input[type=number], body input[type=number] {
  -moz-appearance: textfield;
}
html .tire, body .tire {
  position: absolute;
  top: -35px;
  left: 0;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9)), url("../img/header/header_bg.png");
  background-position: center;
  background-size: cover;
  position: relative;
}
.header .nav {
  background: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
}
.header .nav__main-ul {
  margin: 0;
  padding: 10px 11vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav__logo img {
  height: 60px;
}
.header .nav__links {
  width: 50%;
}
.header .nav__links ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header .nav__telephone__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .nav__telephone img {
  height: 30px;
  margin: 0;
  padding: 0;
}
.header .nav__telephone a {
  white-space: nowrap;
  font-weight: bold;
  font-size: 20px;
  padding: 0;
  margin: 0 0 0 15px;
}
.header__content {
  padding: 100px 11vw;
  position: relative;
  z-index: 100;
}
.header__content h2 {
  width: 646px;
  color: #2c3039;
  font-size: 60px;
  line-height: 57px;
  font-weight: bold;
}
.header__content h3 {
  margin: 25px 0;
  color: #5e5e5e;
}
.header__content .cta-button {
  margin: 0 0 25px 0;
}
.header__content ul.header__ul {
  margin: 0;
  padding: 0;
}
.header__content ul.header__ul li {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.header__content ul.header__ul li::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-image: url("../icons/li.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.header .header__truck-img {
  position: absolute;
  bottom: 100px;
  right: 12vw;
  width: 55vw;
}

.info {
  background: #2C3039;
  color: #fff;
  padding: 11vh 11vw;
  position: relative;
}
.info h2 {
  font-weight: bold;
  font-size: 60px;
}
.info h3 {
  font-size: 18px;
  font-weight: 300;
}
.info__first-ul {
  margin: 100px 0 0 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.info__first-ul li {
  width: 45%;
  display: flex;
  align-items: center;
  margin: 0 25px 25px 0;
  min-height: 110px;
  padding: 15px;
  background: #595959;
  border-radius: 15px;
}
.info__first-ul li .li__icon {
  margin: 0 15px 0 0;
}
.info__first-ul li .li__icon img {
  height: 40px;
}
.info__first-ul li h4 {
  font-size: 18px;
}
.info__first-ul li h5 {
  font-size: 14px;
}
.info__first-ul li:last-child {
  margin: 0px auto;
}

.numbers {
  background: #2C3039;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #f1f1f1;
  padding: 20px 0 50px;
}
.numbers__item {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.numbers__item h2 {
  font-size: 55px;
  color: #ffda00;
  margin: 0 0 15px 0;
  font-weight: bold;
}
.numbers__item .hr {
  width: 140%;
  height: 1px;
  background: #fff;
  display: block;
}
.numbers__item h3 {
  font-size: 20px;
  margin: 15px 0 0 0;
  font-weight: 300;
}

.details {
  background: #2C3039;
  padding: 10vh 11vw;
}
.details__header {
  border-left: 3px solid #fff;
  padding: 5px 20px;
  color: #f1f1f1;
}
.details__header h2 {
  font-weight: bold;
  font-size: 40px;
}
.details__header h3 {
  font-size: 15px;
  font-weight: 400;
}
.details__container {
  margin: 30px 0 0 0;
  color: #fff;
  display: flex;
}
.details__item {
  width: 25%;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 15px;
  min-height: 500px;
}
.details__item:not(:last-child) {
  margin: 0 15px 0 0;
}
.details__image {
  width: 100%;
}
.details__image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.details h4 {
  font-size: 23px;
  margin: 10px 0;
}
.details h5 {
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
}

.catalog {
  color: #2C3039;
  padding: 10vh 11vw;
}
.catalog h2 {
  font-size: 65px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.catalog h3 {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  margin: 15px 0 0 0;
  padding: 0;
}
.catalog__container {
  margin: 30px 0 0 0;
  display: flex;
  flex-wrap: wrap;
}
.catalog__item {
  width: 100%;
  min-height: 300px;
  background: #2C3039;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  color: #fff;
}
.catalog__item .item__info {
  width: 60%;
}
.catalog__item .item__name {
  font-weight: bold;
  font-size: 28px;
}
.catalog__item .item__text {
  margin: 20px 0;
  color: #ccc;
}
.catalog__item .item__image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog__item .item__image img {
  width: 70%;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0;
}
.price__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.price__block h2 {
  font-size: 50px;
  font-weight: bold;
}
.price__block h2:not(:first-child) {
  margin: 80px 0 0 0;
}
.price__block h3 {
  font-size: 16px;
  font-weight: 400;
  color: #5f5f5f;
}
.price__item {
  background: #2C3039;
  min-height: 340px;
  width: 900px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
  margin: 30px 0 0 0;
}
.price__item__name {
  color: #ffda00;
  font-weight: 500;
  font-size: 30px;
}
.price__item__row {
  border-bottom: 4px solid #ffda00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0 0 0;
}
.price__item__row * {
  font-size: 25px;
  font-weight: bold;
}

.cost-delivery {
  padding: 10vh 11vw;
}
.cost-delivery h2 {
  font-size: 50px;
  font-weight: bold;
}
.cost-delivery h3 {
  font-size: 16px;
  font-weight: 400;
  color: #5f5f5f;
}
.cost-delivery__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 30px 0 0 0;
}
.cost-delivery__container .truck-image {
  width: 50%;
}
.cost-delivery__container .truck-image img {
  width: 100%;
  max-width: 100%;
}
.cost-delivery__container form {
  background-color: #6a6e7e;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  width: 37%;
  min-height: 500px;
  padding: 20px 30px;
}
.cost-delivery__container form select, .cost-delivery__container form input {
  width: 100%;
  color: rgb(44, 48, 57);
  border: 1px solid rgb(44, 48, 57);
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  padding: 0 15px;
  margin: 0 0 20px 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.cost-delivery__container form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}
.cost-delivery button {
  width: 100%;
  background: #ffda00;
  border: none;
  padding: 10px 0;
}

.opinions {
  padding: 10vh 11vw;
}
.opinions h2 {
  font-size: 50px;
  font-weight: bold;
}
.opinions h3 {
  font-size: 16px;
  font-weight: 400;
  color: #5f5f5f;
  max-width: 80%;
}
.opinions__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 0;
}
.opinions__container .opinion {
  width: 40%;
  display: flex;
  margin: 20px;
}
.opinions__container .opinion__image {
  margin: 0 25px 0 0;
}
.opinions__container .opinion__image img {
  width: 250px;
  box-shadow: 4px 7px 15px 3px rgba(34, 60, 80, 0.21);
}
.opinions__container .opinion__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.opinions__container .opinion__type {
  font-weight: bold;
  font-size: 15px;
}
.opinions__container .opinion__source {
  background: #ffda00;
  text-align: center;
  font-weight: bold;
  padding: 10px 15px;
  white-space: nowrap;
  margin: 15px 0;
}
.opinions__container .opinion__text {
  font-weight: 500;
  font-size: 16px;
  color: #5f5f5f;
  max-width: 250px;
}

.clients {
  padding: 4vh 11vw 10vh;
}
.clients h2 {
  font-weight: bold;
  font-size: 60px;
}
.clients__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0 0;
}
.clients__container .client {
  max-width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients__container .client:not(:last-child) {
  border-right: 3px solid #ececec;
}
.clients__container .client img {
  width: 77.7777%;
}

.consultation {
  background: #ffda00;
  padding: 0 11vw 0;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  height: 500px;
}
.consultation .telephone {
  position: relative;
}
.consultation .telephone img {
  height: 600px;
  border-radius: 30px;
  transform: rotate(-10deg);
}
.consultation__info {
  align-self: start;
  padding: 40px 0;
  width: 100%;
}
.consultation__info h2 {
  font-size: 55px;
  line-height: 57px;
  font-weight: bold;
  color: #323232;
}
.consultation__info h3 {
  font-size: 15px;
  font-weight: 500;
}
.consultation__info form {
  background: #fff;
  padding: 50px;
  width: 100%;
  border-radius: 10px;
  margin: 25px 0;
}
.consultation__info form h4 {
  font-size: 15px;
  font-weight: 500;
}
.consultation__info form .form__wrapper {
  display: flex;
  align-items: center;
  padding: 10px 0 0 0;
}
.consultation__info form .form__wrapper input {
  color: rgb(44, 48, 57);
  border: 1px solid rgb(44, 48, 57);
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  padding: 0 15px;
  min-width: 250px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.consultation__info form .form__wrapper button {
  background: #ffda00;
  border: none;
  height: 50px;
  margin: 0 0 0 15px;
  min-width: 200px;
  border: 2px solid #000;
}

.workers {
  padding: 15vh 11vw;
}
.workers h2 {
  font-size: 55px;
  font-weight: bold;
}
.workers .workers__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.workers .workers__container .worker {
  width: 45%;
  margin: 20px;
  box-shadow: 4px 4px 10px 3px rgba(34, 60, 80, 0.11);
  display: flex;
  align-items: center;
  padding: 40px;
}
.workers .workers__container .worker__image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px 0 0;
}
.workers .workers__container .worker__image img {
  border-radius: 50%;
  width: 70px;
}
.workers .workers__container .worker__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.workers .workers__container .worker__name {
  font-weight: bold;
}
.workers .workers__container .worker__status {
  font-weight: 500;
  font-size: 13px;
}

.offer {
  padding: 10vh 11vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offer h2 {
  font-size: 55px;
  font-weight: bold;
  text-align: center;
}
.offer h3 {
  text-align: center;
  font-size: 16px;
}
.offer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
  box-shadow: 2px 6px 10px 6px rgba(34, 60, 80, 0.21);
  border-radius: 7px;
  margin: 20px 0 0 0;
  min-width: 700px;
}
.offer form input {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  background: inherit;
  width: 90%;
  margin: 20px 0;
}
.offer form button {
  border: none;
  color: #2C3039;
  background: #ffda00;
  width: 90%;
  padding: 10px 0;
  margin-top: 15px;
}

.footer {
  position: relative;
  background: #2C3039;
  padding: 100px 11vw;
  min-height: 300px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer h2 {
  font-size: 55px;
  font-weight: bold;
  text-align: left;
}
.footer h3 {
  font-size: 18px;
  text-align: justify;
  font-weight: 400;
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer__info {
  width: 50%;
}
.footer__info ul {
  display: flex;
  flex-direction: column;
  padding: 30px 0 0 0;
}
.footer__info ul li {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
}
.footer__info ul li img {
  width: 55px;
  border: 2px solid #ffda00;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px 0 0;
}
.footer__info ul li h4 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}
.footer__map {
  width: 45%;
  min-width: 500px;
  height: 100%;
  min-height: 300px;
}/*# sourceMappingURL=main.css.map */